

body {
  margin: 0;
  font-family: "Courier New", Courier monospace;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
  background: #485563;
  background: linear-gardient(
    to right,
    #29323c,
    #485563
  );
}
buton {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

